# Data Settings
phase: train

patchify: False
learn_patch: False

guidance_method: False
dilation_rates: (1, 2, 3, 4)
# jg
pickle_file_path: ./Dataset/kvasir-instrument/kvasir-instrument_train_test_names.pkl
<<<<<<< HEAD
vae_model: tiny_vae # or tiny_vae
snapshot_path: ./ckpt/tinyvae-baseline-kvasir-instrument
=======
vae_model: litevae-s # or tiny_vae
snapshot_path: ./ckpt/litevae_baseline_kvasir-instrument_correct_transforms
>>>>>>> bf6f99e (update)

# Training Settings
epochs: 1000
GPUs: [0]
num_workers: 8
batch_size: 12 # possible due to TinyVae
save_freq: 100
seed: 2333

# Model Settings
in_channel: 4
out_channels: 4
num_res_blocks: 2
ch: 32
ch_mult: [1, 2, 4, 4]

# Optimizer Settings
lr: 0.002

# Loss Settings
w_rec: 1
w_dice: 1
