#------------------------------------------------------------------------------#
# [CHANGED] Adding some of my own preferences to the Python .gitignore file


# Ignore png, jpeg, jpg, files
*.png
*.jpeg
*.jpg

# Ignore .zip, .h5, .pth, .safetensor, .ckpt, .csv, .txt, .pyc or .yml/yaml files files
*.zip
*.h5
*.pth
*.safetensor
*.ckpt
*.csv
*.txt
*.pyc
*.tfevents.*
# *.yaml*
